<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 导航 -->
<nav class="navbar navbar-default met-nav navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle hamburger hamburger-close collapsed" data-target="#example-navbar-default-collapse" data-toggle="collapse"> <span class="sr-only">Toggle navigation</span> <span class="hamburger-bar"></span> </button>
                <a href="#" class="navbar-logo vertical-align" title="贝视优官网">
                    <div class="vertical-align-middle">
                        <img src="/static/image/logo.png" alt="贝视优官网" title="贝视优官网" />
                    </div> </a>
            </div>
            <div class="collapse navbar-collapse navbar-collapse-toolbar" id="example-navbar-default-collapse">
                <!--<div class="navbar-right vertical-align met-nav-login">-->
                    <!--<div class="vertical-align-middle">-->
                        <!--<a href="https://account.metinfo.cn/profile/info/" rel="nofollow" title="进入用户中心" data-username="guozhenyu112@163.com" data-email="guozhenyu112@163.com" class="navbar-avatar user_name"> <span class="avatar avatar-online"> <img src="https://img.metinfo.cn/?username=guozhenyu112@163.com" alt="guozhenyu112@163.com" /> </span> </a>-->
                    <!--</div>-->
                <!--</div>-->
                <ul class="nav navbar-nav navbar-right navlist">
                    <li class="nav-item margin-left-0"> <a href="/ceg/front/getMainInfoList" title="首页" class="link">首页</a> </li>
                    <li class="nav-item margin-left-0"> <a href="#" title="帮助" target="_blank" class="link">帮助</a> </li>
                    <li class="nav-item margin-left-0"> <a href="#" title="下载" class="link">下载</a> </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- 导航 -->
</body>
</html>