<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 导航 -->
<footer class="site-footer blue-grey-500 font-weight-300">
    <div class="site-footer-legal">
        Powered&nbsp;by&nbsp;
        <a href="https://www.MetInfo.cn" target="_blank" title="企业网站管理系统">MetInfo</a>
    </div>
    <div class="site-footer-right">
        <span class="copyright margin-right-5">&copy; 米拓</span>
        <span class="beian">湘 ICP 备 <a href="#" rel="nofollow" target="_blank">07500799 号 - 5</a> </span>
    </div>
</footer>
<!-- 导航 -->
</body>
</html>