<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ceg.mapper.HospitalEntityMapper" >
  <resultMap id="BaseResultMap" type="com.ceg.pojo.HospitalEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="hospital_name" property="hospitalName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="area_id" property="areaId" jdbcType="BIGINT" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, hospital_name, create_time, update_time, area_id, location, telephone, deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hospital
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="queryHospitalListByPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from hospital
  </select>
  <select id="queryHospitalList" resultMap="BaseResultMap" parameterType="com.ceg.dto.HospitalQuery">
    select
    <include refid="Base_Column_List"/>
    from hospital where 1=1
    <if test="id != null">
      and id = #{id,jdbcType=BIGINT}
    </if>
    <if test="name != null">
      and hospital_name = #{hospitalName,jdbcType=VARCHAR}
    </if>
    order by create_time
  </select>
</mapper>