<!DOCTYPE html>
<html lang="zh-CN" >
<head>
    <meta charset="UTF-8">
    <title>页尾</title>
</head>
<body>
<footer class="foot_info_met_16_1 met-foot p-y-20 border-top1" m-id="7" m-type="foot">
    <div class="container text-xs-center">
        <p>版权所有：沈阳倍优科技有限公司</p>
        <p>沈阳市浑南区泗水街66号</p>
        <div class="powered_by_metinfo">
            Powered by
            <b><a href="#" target="_blank"> 6.0.0</a></b> &copy;2008-2018 &nbsp;
            <a href="#" target="_blank">沈阳倍优科技有限公司 </a>
        </div>
        <ul class="met-langlist p-0">
        </ul>
    </div>
</footer>
</body>
</html>