<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- logo -->
<div class="navbar-header pull-xs-left">
    <a href="#" class="met-logo vertical-align block pull-xs-left p-y-5" title="">
        <div class="vertical-align-middle">
            <img src="/static/image/first_logo.png" alt="logo" class="logo" />
            <img src="/static/image/first_logo.png" alt="logo1" class="logo1  hidden" />
        </div> </a>
</div>
<!-- logo -->

</body>
</html>