<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="foot">
    <div class="ff w1000">
        <div class="foot_nav">
            <ul>
                <li>
                    <a href="/shijing.php" target="_blank" rel="nofollow">关于我们</a></li>
                <li>
                    <a href="/intro.php" target="_blank">产品专区</a></li>
                <li>
                    <a href="/" target="_blank">网站地图</a></li>
                <li>
                    <a href="/hezuo/" target="_blank">合作加盟</a></li>
                <li>
                    <a href="/contact.php" target="_blank" rel="nofollow">联系我们</a></li>
                <li style="border-right:none;">
                    <a href="/job.php" target="_blank" rel="nofollow">人才招聘</a></li>
            </ul>
        </div>
        <div class="border"></div>
        <div class="message">
            <div class="adress f-l">
                <p>
                    <a href="/static/img/hlwzg.jpg" target="_blank">互联网药品信息服务资格证(粤)-非经营性-2018-0085</a></p>
                <p>
                    <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">粤ICP备09035398-1</a></p>
                <p>沈阳贝视优软件有限公司&nbsp;&nbsp;版权所有</p>
            </div>
            <div class="another f-r">
                <a href="javascript:void(0);" class="weixin"></a>
                <div style="display: none;" class="wx_drop">
                    <img src="/static/img/weixin.png">
                    <p>扫描二维码添加好友
                        <br>搜索微信号
                        <b>贝视优</b>
                    </p>
                </div>
                <a href="http://weibo.com/doboso" target="_blank" class="weibo" rel="nofollow"></a>
                <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=3538309612&amp;site=qq&amp;menu=yes" target="_blank" class="QQ" rel="nofollow"></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>