<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="head">
    <div class="header w1000">
        <div class="logo f-l">
            <a href="/">
                <img src="/static/image/logo_min.png?20170208" width="172" height="77" alt="贝视优"></a>
        </div>
        <div class="phone f-r">
            <img src="/static/image/phone4.png" width="511" height="27"></div>
        <div class="top_nav">
            <ul class="f-r">
                <li id="user_guide">您好！欢迎来到贝视优！[
                    <a href="/user/ajax_login.php?KeepThis=true&amp;TB_iframe=true&amp;height=250&amp;width=320" class="" title="登录贝视优" rel="nofollow">登录</a>]</li>
                <li>
                    <a href="#" target="_blank" rel="nofollow">在线训练</a></li>
                <li>
                    <a href="#" target="_blank" rel="nofollow">演示平台</a></li>
                <li style="border-right:none;padding-right:0;">
                    <a href="#" target="_blank" rel="nofollow">
                        <span id="ty">申请体验</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>