<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <title>贝视优代理,弱视产品代理,医疗器械代理 - 贝视优</title>
    <meta name="keywords" content="贝视优代理,弱视产品代理,医疗器械代理">
    <meta name="description" content="贝视优代理,弱视产品代理,医疗器械代理">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="/static/image/title_img.ico"/>
    <link href="/static/new/css/style.css?17" rel="stylesheet" type="text/css">
    <script charset="utf-8" src="https://lxbjs.baidu.com/lxb.js?sid=5940299"></script>
    <script charset="utf-8" src="https://tag.baidu.com/vcard/v.js?siteid=5940299&amp;url=https%3A%2F%2Fwww.topeye.cn%2Fhezuo%2F&amp;source=https%3A%2F%2Fwww.topeye.cn%2Fhelp.php&amp;rnd=740411608&amp;hm=1"></script>
    <script type="text/javascript" src="/static/new/js/jquery.js"></script>
    <script type="text/javascript" src="/static/new/js/jquery.SuperSlide.js"></script>
</head>

<body>
<div class="banner">
    <div class="hiden_box">
        <div class="nav">
            <ul>
                <li>
                    <a href="/" target="_blank">首页</a></li>
                <li>
                    <a href="/intro.php" target="_blank">产品介绍</a></li>
                <li>
                    <a href="/shijing.php" target="_blank">公司简介</a></li>
                <li>
                    <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1048589&amp;site=qq&amp;menu=yes" target="_blank" style="border:none;">在线咨询</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="partONE">
    <div class="Goldwaike">
        <h1>金眼科，银外科——千亿市场等你发掘！</h1>
        <h2>1、
            <span>1500</span>万名弱视儿童，不足
            <span>1%</span>的治疗率</h2>
        <p class="p426">弱视是儿童视觉发育过程中的一种常见病，据保守统计弱视的发病率为3-5%，在我国每小时就有2000多名婴儿诞生，其中可能患有弱视的婴儿将近60名；按我国现有3亿多儿童计算有近1500万名弱视儿童，数量相当惊人！全年龄段弱视患者更是高达几千万，目前全国弱视患者中能够得到治疗的却不足1%，从而造成了很多孩子终身视力低下或残疾的缺陷。</p>
        <h2>2、
            <span>不断增长</span>的弱视儿童人群，
            <span>相对缺乏</span>的专业弱视治疗产品</h2>
        <p>随着生活水平的整体上升，儿童弱视得到越来越多家长的关注及重视。在家长苦苦寻找专业弱视治疗产品的同时，弱视治疗产品市场却仍处于待开发的状态。在弱视治疗软件作为每个弱视患者的必需品的今天，在无可限量的市场前景面前，弱视治疗产品需要每一位精英代理的支持及推广。</p>
        <h2>3、极具前景的
            <span>1000亿</span>视觉健康和视力康复产品的
            <span>市场容量</span>，持续增长，潜力无限！</h2>
        <img src="/static/image/pic1.png" width="480" height="248" class="pic1"></div>
</div>
<div class="partTWO">
    <div class="hiden_box pt160">
        <p>2014年5月,国家卫计委发布公告称,加快国产医疗设备发展、推进普及应用，能发挥国内企业比较优势，降低医疗成本，有效遏制就医费用不合理增长，切实减轻患者负担。大力倡导卫生计生机构使用国产医疗设备，
            <span>重点推动三级甲等医院应用国产医疗设备</span>。</p>
        <p>国家医疗器械产业技术创新战略联盟理事长姜峰提供的数据显示，截至2013年底，医疗器械生产企业共有15961家，其中一类4587家，二类8649家，三类2725家，行业协会推算全行业产值超过
            <span>4000亿元</span>。</p>
        <p>沈阳贝视优软件有限公司作为医疗器械行业中为数不多的
            <span>国家高新技术企业</span>，旗下的贝视优弱视治疗网络平台更是
            <span>国家科技部创新基金的支持项目</span>，再加上长期与三甲医院保持紧密的合作关系，让贝视优产品在同行中享有着得天独厚的优势。</p></div>
</div>
<div class="partTHREE"></div>
<div class="partFOUR">
    <div class="rongyu_box">
        <p>贝视优是由沈阳贝视优软件有限公司研发的一款针对弱视患者视觉功能恢复的治疗软件，软件结合了先进的生物刺激模式生成器和视知觉训练模式，可以帮助患者通过训练“眼力”、“脑力”、“手－脑－眼协调力”全面提升视觉功能与视觉技巧，拥有疗程短，见效快，趣味性强等特点。贝视优一上市便受到市场的青睐，更是在2011年荣获国家科技部创新基金支持项目，高新技术企业等荣誉。</p>
        <div class="rongyu">
            <div class="picScrollleft">
                <div class="bd">
                    <div class="tempWrap" style="overflow:hidden; position:relative; width:915px">
                        <ul class="picList" style="width: 1830px; left: -305px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">
                            <li style="float: left; width: 305px;">
                                <div class="pic">
                                    <a href="" target="_blank">
                                        <img src="/static/image/ry1.jpg"></a>
                                </div>
                            </li>
                            <li style="float: left; width: 305px;">
                                <div class="pic">
                                    <a href="" target="_blank">
                                        <img src="/static/image/ry2.jpg"></a>
                                </div>
                            </li>
                            <li style="float: left; width: 305px;">
                                <div class="pic">
                                    <a href="" target="_blank">
                                        <img src="/static/image/ry3.jpg"></a>
                                </div>
                            </li>
                            <li style="float: left; width: 305px;">
                                <div class="pic">
                                    <a href="" target="_blank">
                                        <img src="/static/image/ry1.jpg"></a>
                                </div>
                            </li>
                            <li style="float: left; width: 305px;">
                                <div class="pic">
                                    <a href="" target="_blank">
                                        <img src="/static/image/ry2.jpg"></a>
                                </div>
                            </li>
                            <li style="float: left; width: 305px;">
                                <div class="pic">
                                    <a href="" target="_blank">
                                        <img src="/static/image/ry3.jpg"></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="hd">
                    <a class="next"></a>
                    <a class="prev"></a>
                </div>
            </div>
            <script type="text/javascript">jQuery(".picScrollleft").slide({
                titCell: ".hd ul",
                mainCell: ".bd ul",
                autoPage: true,
                effect: "left",
                autoPlay: true,
                vis: 3,
                trigger: "mouseover"
            });</script>
        </div>
        <!-- end of class="rongyu" --></div>
</div>
<div class="partFIVE">
    <!-- <div class="jiameng_box">
    <a href="" target="_blank" class="liuyanbtn"></a>
    <p>或使用<br>免费电话咨询</p>
    <p class="p_2">4008-777-511</p></div> -->
</div>
<div class="partSIX">
    <div class="hiden_box pt141">
        <div class="zaixianshenqing">
            <div class="msg f-l">
                <p>调查显示，成功的加盟商，加盟前90%以上都进行过留言咨询。</p>
                <p>对您心仪的产品留言是非常必要的，为更周到的为您服务，减少不必要的风险，贝视优强烈建议您先进行留言咨询，留言是零风险的咨询方式。</p>
                <p>留言成功后，市场经理会24小时内答复您。</p>
            </div>
            <div class="ziliao f-r">
                <script type="text/javascript">function checkform($o) {
                    if ($o.realname.value == "") {
                        alert("请输入联系人姓名！");
                        $o.realname.focus();
                        return false;
                    }
                    if ($o.phone.value == "") {
                        alert("请输入联系电话！");
                        $o.phone.focus();
                        return false;
                    }
                    if ($o.city.value == "" || 　$o.city.value == "选择城市") {
                        alert("请选择城市！");
                        $o.city.focus();
                        return false;
                    }
                    if ($o.province.value == "" || 　$o.province.value == "选择省份") {
                        alert("请选择省份！");
                        $o.province.focus();
                        return false;
                    }
                    if ($o.company.value == "") {
                        alert("请输入单位名称！");
                        $o.company.focus();
                        return false;
                    }
                    if ($o.address.value == "") {
                        alert("请输入地址！");
                        $o.address.focus();
                        return false;
                    }
                    /*if ($o.remark.value == "") {
                        alert("请输入申请说明！");
                        $o.remark.focus();
                        return false;
                    }*/
                }</script>
                <form name="form1" method="post" action="/agent.php" onsubmit="return checkform(this)">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr>
                            <td class="n_1">联系人姓名：　</td>
                            <td>
                                <input class="ipt8" type="text" name="realname" id="realname"></td>
                        </tr>
                        <tr>
                            <td class="n_1">联系电话：　</td>
                            <td>
                                <input class="ipt8" type="text" name="phone" id="phone"></td>
                        </tr>
                        <tr>
                            <td class="n_1">联系地址：　</td>
                            <td>
                                <input class="ipt8" type="text" name="address" id="address"></td>
                        </tr>
                        <tr>
                            <td class="n_1">省市：　</td>
                            <td>
                                <script type="text/javascript" src="/static/new/js/city.js"></script>
                                <!--<script type="text/javascript">< !&#45;&#45;showprovince('province', 'city', ''); showcity('city', ''); &ndash;&gt;</script>-->
                                <select name="province" id="province" onchange="setcity('province', 'city');">
                                    <option value="">选择省份</option>
                                    <option value="北京">北京</option>
                                    <option value="上海">上海</option>
                                    <option value="重庆">重庆</option>
                                    <option value="安徽">安徽</option>
                                    <option value="福建">福建</option>
                                    <option value="甘肃">甘肃</option>
                                    <option value="广东">广东</option>
                                    <option value="广西">广西</option>
                                    <option value="贵州">贵州</option>
                                    <option value="海南">海南</option>
                                    <option value="河北">河北</option>
                                    <option value="黑龙江">黑龙江</option>
                                    <option value="河南">河南</option>
                                    <option value="香港">香港</option>
                                    <option value="湖北">湖北</option>
                                    <option value="湖南">湖南</option>
                                    <option value="江苏">江苏</option>
                                    <option value="江西">江西</option>
                                    <option value="吉林">吉林</option>
                                    <option value="辽宁">辽宁</option>
                                    <option value="澳门">澳门</option>
                                    <option value="内蒙古">内蒙古</option>
                                    <option value="宁夏">宁夏</option>
                                    <option value="青海">青海</option>
                                    <option value="山东">山东</option>
                                    <option value="山西">山西</option>
                                    <option value="陕西">陕西</option>
                                    <option value="四川">四川</option>
                                    <option value="台湾">台湾</option>
                                    <option value="天津">天津</option>
                                    <option value="新疆">新疆</option>
                                    <option value="西藏">西藏</option>
                                    <option value="云南">云南</option>
                                    <option value="浙江">浙江</option>
                                    <option value="海外">海外</option></select>&nbsp;
                                <select name="city" id="city">
                                    <option value="">选择城市</option></select>
                            </td>
                        </tr>
                        <tr>
                            <td class="n_1">电子邮箱：　</td>
                            <td>
                                <input class="ipt8" type="text" name="email" id="email"></td>
                        </tr>
                        <tr>
                            <td class="n_1">单位名称：　</td>
                            <td>
                                <input class="ipt8" type="text" name="company" id="company"></td>
                        </tr>
                        <tr>
                            <td class="n_1" valign="top">申请说明：　</td>
                            <td>
                                <textarea class="ipt8" style="width:268px; height:100px;" name="remark" id="remark" rows="4"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <br>
                                <input type="image" name="imageField" id="imageField" src="/static/image/shenqing_btn.png" style="padding-left:85px;">
                                <input type="hidden" name="action" value="submit"></td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <!-- end of class="zaixianshenqing" -->
        <div th:replace="new/foot :: html"></div>
    </div>
</div>
<script id="qclient_js" type="text/javascript" src="http://www.81c.cn:8888/tj.js?f36431089971759241eca544d81424fe"></script>
<script type="text/javascript">var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://": " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0f29462649fc693496afc04c7ca57e3c' type='text/javascript'%3E%3C/script%3E"))</script>
<script src=" https://hm.baidu.com/h.js?0f29462649fc693496afc04c7ca57e3c" type="text/javascript"></script>
</body>

</html>