<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <title>2019年贝视优春节放假通知 - 贝视优</title>
    <meta name="keywords" content="2019年贝视优春节放假通知">
    <meta name="description" content="2019年贝视优春节放假通知">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="/static/image/title_img.ico"/>
    <link rel="stylesheet" href="/static/new/css/public.css" type="text/css">
    <link rel="stylesheet" href="/static/new/css/detail.css" type="text/css">
    <script src="//hm.baidu.com/hm.js?fb856ed1a7aea555deb7013403c93a7a"></script>
    <script type="text/javascript" src="/static/new/js/jquery.js"></script>
    <script type="text/javascript" src="/static/new/js/jquery.SuperSlide.js"></script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?fb856ed1a7aea555deb7013403c93a7a";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();</script>
    <!--<script src="http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=430655"></script>-->
</head>

<body>
<div th:replace="new/head :: html"></div>
<div th:replace="new/navigation :: html"></div>
<script type="text/javascript">$(".down_box").mouseover(function() {
    $(".Down").show();
}).mouseout(function() {
    $(".Down").hide();
});</script>
<div class="mains">
    <div class="mainbox w1000">
        <div class="top_adress">
            <a href="/">首页</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;
            <a href="/c/1">最新动态</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;正文
            <div class="search_box f-r">
                <form id="so" name="so" method="get" action="/search.php">
                    <input type="text" name="q" class="text" value="请输入关键字" onfocus="if (this.value==this.defaultValue) this.value='';" onblur="if (this.value=='') this.value=this.defaultValue;" style="color:#bcbcbc; font-size:12px;">
                    <button type="submit"></button></form>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="neirong f-l">
            <div class="neirong_box">
                <div class="tops">
                    <h1 th:text="${knowledgeDetail.name}"></h1>
                    <h2 th:text="${#dates.format(knowledgeDetail.createTime.getTime(),'yyyy-MM-dd hh:mm')+' 来源: 贝视优'}"></h2></div>
                <div class="centers" th:utext="${knowledgeDetail.content}">
                   </div>

            </div>
        </div>
        <!-- end of class="neirong" -->
        <div class="tuijian f-r">
            <div class="tuijian_box">
                <div class="titles">
                    <h2>热点推荐</h2></div>
                <ul>
                    <li>
                        <a href="/p/747" title="多媒体训练系统改善屈光不正性弱视患者视功能的效果观察">·
                            <font style="font-size:13px;color:orangered;font-weight:bold;">多媒体训练系统改善屈光不正性弱视患者视功能的效果观察</font></a>
                    </li>
                    <li>
                        <a href="/p/746" title="对比多媒体训练系统与传统方法治疗弱视的效果研究">·
                            <font style="font-size:13px;color:crimson;font-weight:bold;">对比多媒体训练系统与传统方法治疗弱视的效果研究</font></a>
                    </li>
                    <li>
                        <a href="/p/743" title="热烈祝贺视景医疗顺利通过ISO13485质量管理体系认证">·
                            <font style="font-size:13px;color:blue;font-weight:bold;">热烈祝贺视景医疗顺利通过ISO13485质量管理体系认证</font></a>
                    </li>
                    <li>
                        <a href="/p/741" title="2019年1月18日至1月22日客户服务暂停公告">·
                            <font style="font-size:13px;color:deeppink;font-weight:bold;">2019年1月18日至1月22日客户服务暂停公告</font></a>
                    </li>
                    <li>
                        <a href="/p/737" title="视景医疗VS创酷互动“双旦杯”篮球赛圆满结束">·
                            <font style="font-size:13px;color:blue;font-weight:bold;">视景医疗VS创酷互动“双旦杯”篮球赛圆满结束</font></a>
                    </li>
                    <li>
                        <a href="/p/733" title="【聚焦眼科医生创业】眼科大咖谈，为眼科医生创业精准支招">·
                            <font style="font-size:13px;color:orangered;font-weight:bold;">【聚焦眼科医生创业】眼科大咖谈，为眼科医生创业精准支招</font></a>
                    </li>
                    <li>
                        <a href="/p/732" title="2018《儿童视力与眼病早期筛查干预技术学习班》圆满结束">·
                            <font style="font-size:13px;color:blue;font-weight:bold;">2018《儿童视力与眼病早期筛查干预技术学习班》圆满结束</font></a>
                    </li>
                    <li>
                        <a href="/p/731" title="2018《儿童视力与眼病早期筛查干预技术学习班》顺利召开">·
                            <font style="font-size:13px;color:red;font-weight:bold;">2018《儿童视力与眼病早期筛查干预技术学习班》顺利召开</font></a>
                    </li>
                </ul>
            </div>
            <div class="tuijian_box">
                <div class="titles">
                    <h2>相关文章</h2></div>
                <ul>
                    <li>
                        <a href="/p/743" title="热烈祝贺视景医疗顺利通过ISO13485质量管理体系认证">·
                            <font style="font-size:13px;color:blue;font-weight:bold;">热烈祝贺视景医疗顺利通过ISO13485质量管理体系认证</font></a>
                    </li>
                    <li>
                        <a href="/p/741" title="2019年1月18日至1月22日客户服务暂停公告">·
                            <font style="font-size:13px;color:deeppink;font-weight:bold;">2019年1月18日至1月22日客户服务暂停公告</font></a>
                    </li>
                    <li>
                        <a href="/p/737" title="视景医疗VS创酷互动“双旦杯”篮球赛圆满结束">·
                            <font style="font-size:13px;color:blue;font-weight:bold;">视景医疗VS创酷互动“双旦杯”篮球赛圆满结束</font></a>
                    </li>
                    <li>
                        <a href="/p/735" title="【喜报】贝视优荣获广州软件行业协会四项大奖">·
                            <font style="font-size:13px;color:red;font-weight:bold;">【喜报】贝视优荣获广州软件行业协会四项大奖</font></a>
                    </li>
                    <li>
                        <a href="/p/733" title="【聚焦眼科医生创业】眼科大咖谈，为眼科医生创业精准支招">·
                            <font style="font-size:13px;color:orangered;font-weight:bold;">【聚焦眼科医生创业】眼科大咖谈，为眼科医生创业精准支招</font></a>
                    </li>
                    <li>
                        <a href="/p/732" title="2018《儿童视力与眼病早期筛查干预技术学习班》圆满结束">·
                            <font style="font-size:13px;color:blue;font-weight:bold;">2018《儿童视力与眼病早期筛查干预技术学习班》圆满结束</font></a>
                    </li>
                    <li>
                        <a href="/p/731" title="2018《儿童视力与眼病早期筛查干预技术学习班》顺利召开">·
                            <font style="font-size:13px;color:red;font-weight:bold;">2018《儿童视力与眼病早期筛查干预技术学习班》顺利召开</font></a>
                    </li>
                    <li>
                        <a href="/p/723" title="2018国家级继续医学教育项目 《儿童视力与眼病早期筛查干预技术》 培训班通知">·
                            <font style="font-size:13px;color:red;font-weight:bold;">2018国家级继续医学教育项目 《儿童视力与眼病早期筛查干预技术》 培训班通知</font></a>
                    </li>
                </ul>
            </div>
            <div class="tuijian_box">
                <div class="titles">
                    <h2>成功案例</h2></div>
                <ul>
                    <li>
                        <a href="/p/427" title="近视性弱视 + 外斜视">·
                            <font style="font-size:13px;">近视性弱视 + 外斜视</font></a>
                    </li>
                    <li>
                        <a href="/p/426" title="典型病例：大龄近视性弱视">·
                            <font style="font-size:13px;">典型病例：大龄近视性弱视</font></a>
                    </li>
                    <li>
                        <a href="/p/425" title="外斜视术后+屈光不正性弱视">·
                            <font style="font-size:13px;">外斜视术后+屈光不正性弱视</font></a>
                    </li>
                    <li>
                        <a href="/p/424" title="屈光不正性弱视案例">·
                            <font style="font-size:13px;">屈光不正性弱视案例</font></a>
                    </li>
                    <li>
                        <a href="/p/219" title="典型病例：屈光参差性弱视（合并高度近视性弱视）">·
                            <font style="font-size:13px;">典型病例：屈光参差性弱视（合并高度近视性弱视）</font></a>
                    </li>
                    <li>
                        <a href="/p/218" title="交替性外斜视案例">·
                            <font style="font-size:13px;">交替性外斜视案例</font></a>
                    </li>
                    <li>
                        <a href="/p/158" title="典型病例：高度散光远视性弱视合并斜视">·
                            <font style="font-size:13px;">典型病例：高度散光远视性弱视合并斜视</font></a>
                    </li>
                    <li>
                        <a href="/p/157" title="典型病例：屈光不正性弱视">·
                            <font style="font-size:13px;">典型病例：屈光不正性弱视</font></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end of class="mains" -->
<div class="clearfix"></div>
<div th:replace="new/foot :: html"></div>
<link href="/static/new/css/thickbox.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/new/js/thickbox.js"></script>
<script type="text/javascript" src="/static/new/js/kefu.js"></script>
<div class="kefubox cloneobj" style="width: 171px; height: 357px; right: 0px; position: fixed; z-index: 2147483647; top: 115px;">
    <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=3538309612&amp;site=qq&amp;menu=yes" target="_blank">
        <img src="/static/image/kefu_weixin.jpg" width="171" height="357"></a>
</div>
<script type="text/javascript">var uid = 0;
var user_type = "";
var is_login = 1;
if (uid < 1) {
    is_login = 0;
}

var color = 0;
//time_color();
function change_color() {
    color++;
    if (color % 2 == 1) $("#ty").css("color", "#ff0000");
    else $("#ty").css("color", "#000000");
    time_color();
}
function time_color() {
    setTimeout("change_color()", 100);
}

$('a.weixin').click(function() {
    $('div.wx_drop').show();
    event.stopPropagation();
});
$(document).click(function() {
    $("div.wx_drop").click(function() {
        return;
    });
    $("div.wx_drop").hide();
});
$("#nav").slide({
    defaultIndex: false,
    type: "menu",
    // 效果类型，针对菜单/导航而引入的参数（默认slide）
    titCell: ".nLi",
    //鼠标触发对象
    targetCell: ".sub",
    //titCell里面包含的要显示/消失的对象
    effect: "slideDown",
    //targetCell下拉效果
    delayTime: 300,
    //效果时间
    triggerTime: 0,
    //鼠标延迟触发时间（默认150）
    returnDefault: true //鼠标移走后返回默认状态
});</script>
</body>

</html>